html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#display {
  position: fixed;
  top: 0px;
  right: 0px;
  border-bottom: 1px solid #ababab;
  width: 240px;
  height: 320px;
  z-index: 1;
  background: black;
}

button {
  display: none;
}

#settings {
  background: #f4f4f4;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 1px;
  width: 240px;
  padding: 320px 0 0;
  border-left: 1px solid #ababab;
  overflow-y: auto;
}

#settings section {
  margin: 0;
  border-bottom: 1px solid #ababab;
  overflow: hidden;
  padding: 0.5rem 0;
}

#settings section > div,
#settings section > button,
#settings section > select,
#settings section > label,
#settings section > input {
  display: block;
  width: 80%;
  margin: 0.5rem auto;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: 12px;
}

.log-item-log {
  color: #555;
}

.log-item-warn {
  color: #c70;
}

.log-item-error {
  color: red;
  font-weight: bold;
}

.log-item-trace:before { content: 'T'; padding-right: 1rem; font-weight: bold; }
.log-item-log:before { content: 'L'; padding-right: 1rem; font-weight: bold; }
.log-item-info:before { content: 'I'; padding-right: 1rem; font-weight: bold; }
.log-item-warn:before { content: 'W'; padding-right: 1rem; font-weight: bold; }
.log-item-error:before { content: 'E'; padding-right: 1rem; font-weight: bold; }

#gamepad button {
  display: none;
  position: absolute;
  z-index: 2;
  height: 40px;
  width: 40px;
}

#gamepad #up { left: 75px; bottom: 40px; }
#gamepad #down { left: 75px; bottom: 0px; }
#gamepad #left { left: 25px; bottom: 20px; }
#gamepad #right { left: 125px; bottom: 20px; }
#gamepad #fire { left: 250px; bottom: 20px; }

.gamepad body > #gamepad {
  display: block;
  z-index: 2;
}

.gamepad body > #gamepad button {
  display: block;
}

/* Auto-Size (for devices): Hide everything except the canvas. */
.autosize body > pre,
.autosize body > div {
  display: none;
}

.autosize #display {
  overflow: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: black;
}

/* Prevent scrolling. */
.autosize, .autosize body {
  overflow: hidden;
}

.sms-listener-prompt input {
  display: block;
  margin-top: 1rem;
  box-sizing: border-box;
  width: 100%;
  font-size: 1.6rem;
  padding: 0.5rem;
}

.splash-screen {
  z-index: 2;
  background: #2d2d2d;
  overflow: hidden;
  color: #fff;
  text-align: center;
}

.autosize .splash-screen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.splash-screen > .title {
  margin-bottom: 0;
}

.splash-progress-container {
  position: absolute;
  top: calc(50% - 17px);
  left: calc(50% - 17px);
}

/**
 * STYLE OVERRIDES FOR DEBUG MODE:
 *
 * These styles override the default dialog style so that (a) the
 * dialog fits in our small 240x320 debug-mode canvas, and (b) so that
 * the dialog, which normally overlays the entire screen, only covers
 * the same area as the canvas (only for debugging).
 *
 * Note: The absurd selector is absurd so that we can override the
 * built-in styles, which refer to all of those attributes, without
 * modifying the original dialog CSS, for future maintainability.
 */
.debug-mode form[role="dialog"][data-type="confirm"].sms-listener-prompt,
.debug-mode form[role="dialog"][data-type="confirm"].nokia-fileui-prompt,
.debug-mode form[role="dialog"][data-type="confirm"].download-progress-dialog {
  position: fixed;
  top: 0px;
  right: 0px;
  left: auto;
  bottom: auto;
  width: 240px;
  height: 320px;
  z-index: 2;
  background: black;
  box-sizing: border-box;
}

/* Hide the unnecessary scroll bar in the SMS verification dialog. */
.debug-mode form[role="dialog"][data-type="confirm"].sms-listener-prompt section,
.debug-mode form[role="dialog"][data-type="confirm"].nokia-fileui-prompt section,
.debug-mode form[role="dialog"][data-type="confirm"].download-progress-dialog section {
  overflow: hidden;
}
/* Trim down fonts to fix on our 240x320 debug-mode canvas. */
.debug-mode form[role="dialog"][data-type="confirm"].sms-listener-prompt p {
  font-size: 12px;
  line-height: 1.2;
}

<<<<<<< HEAD
#pageContainer {
  background-color: #333333;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 240px;
  bottom: 0px;
=======
.debug-mode .splash-screen {
  position: fixed;
  width: 240px;
  height: 320px;
  top: 0px;
  right: 0px;
  left: auto;
  bottom: auto;
  box-sizing: border-box;
}

#console {
  overflow: auto;
  margin: 0;
>>>>>>> 53cb3f78df324162a2cb70ea77561e1cda217523
}

#consoleContainer {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 230px;
  right: 240px;

}

#profilerContainer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 240px;
  height: 230px;
}

#profilerToolbar {
  padding: 2px;
}

#profilerStartStop {
  display: block;
  color: red;
  cursor: hand;
}

.profiler-tooltip {
  position: absolute;
  font-family: sans-serif;
  color: #ddd;
}
.profiler-tooltip {
  background-color: #111;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px;
}
.profiler-tooltip > div > h1 {
  font-size: 11px;
  margin: 1px 0 2px 0;
}
.profiler-tooltip > div > p {
  font-size: 10px;
  margin: 0 0 1px 0;
}
.profiler-tooltip > div > hr {
  margin: 2px auto 4px auto;
  border: none;
  border-bottom: 1px solid #555;
}
